.gpt3__brand {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.gpt3__brand div {
  flex: 1;
  margin: 1rem;
  max-width: 150px;
  min-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
